@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal {
  z-index: 100;
}

.chart-container{
  z-index: 10;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: end;
  z-index: 100;
  display:block;
  color: red;
}