<!-- Modal Trigger Button -->
<button 
    id="{{type + 'ModalTrigger'}}" 
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded focus:outline-none focus:shadow-outline md:min-h-7 md:min-w-7 p-2 md:p-0"
    onclick="openModal('{{type}}Modal')">
    <p class='hidden md:block'><span class="material-icons">add</span></p>
    <p class='block md:hidden'>{{'Add ' + type}}</p>
</button>

<!-- Modal -->
<div id="{{type}}Modal" class="modal hidden fixed inset-0 flex justify-center items-center">
    <div id="{{type}}ModalOverlay" class="modal-overlay bg-gray-500 bg-opacity-75 fixed inset-0 z-40"></div>
    <div class="modal-content bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 z-50">
        <!-- Form -->
        <div class="mb-4 flex items-center justify-between">
            <h5 class="modal-title text-xl font-semibold">Create a new {{type}}</h5>
            <button
                class="close-modal flex justify-center rounded border border-gray-300 bg-[--background] hover:bg-red-400"
                id="{{type + 'CloseButton'}}"
                aria-label="Close modal"
                title="Close modal"
                onclick="closeModal('{{type}}Modal')"
                ><span class="material-icons">close</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{{url_for('add_' + type)}}" method="post">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="id">id/name</label>
                <input class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id" type="text" placeholder="id"  name="id" required>
                {% if type == 'candidate' %}
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="cost">Cost</label>
                        <div class="w-full flex space-x-2 items-center">
                            <input 
                                class="shadow appearance-none border rounded w-4/5 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="cost" 
                                type="number" 
                                step = "1"
                                min = "1"
                                value = "10"
                                name="cost"
                                required>
                            <p 
                                data-tooltip-target="{{type}}-cost-tooltip" 
                                class="">
                                <!--material ui question mark span-->
                                <span class="material-icons text-zinc-500 scale-75">help</span>
                            </p>
                            <div id="{{type}}-cost-tooltip" role="tooltip" class="text-center absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Used for participatory budget elections. <br>The total cost of this candidate
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for i in range(data.variables) %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="x">{{data.variable_names[i]}}</label>
                    <input 
                        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 thumb:bg-blue-500"
                        id="variable_{{ i }}" 
                        type="range" 
                        step = "0.01"
                        min = "{{data.min}}"
                        max = "{{data.max}}"
                        {% if data.default_min: %} 
                            value = "0" 
                        {% else: %} 
                            value = "{{data.min}}"
                        {% endif %}
                        name="variable_{{ i }}" 
                        oninput="this.nextElementSibling.value = this.value"
                        required>
                    <output>0</output>
                </div>
                {% endfor %}
                <div class="flex justify-center items-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
