<div>
  <!-- Modal Trigger Button -->
  <!-- Button and modal have to be seperated so that the modal is drawn on top of the canvas -->
  <div class='flex justify-center'>
    <button 
      id="graphModalTrigger" 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      onclick="openModal('graphModal')">
      Create PCP or Radar Chart
    </button>
  </div>

  <!-- Canvas to display the chart.js visualisation -->
  <div id='showCanvas' class='hidden'>
    <div class="chart-container flex justify-center" style="position: relative; height:40vh; width:80vw">
      <canvas id="myChart"></canvas>
    </div>

    <!-- Save image as png -->
    <div class='flex justify-center'>
      <button 
        id="saveAsPng" 
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        onclick="saveImage()">
        Save as PNG
      </button> 
    </div>
  </div>

<!-- The 'create chart' modal to be rendered after the canvas -->
{% include 'partials/create_chart_modal.html' %}

<script>
  // initially there is no chart instance
  let chartInstance = null;

  // Updates the canvas with the selected data and variables and creates a radar or pcp chart using Chart.JS
  function createChart(type, selectedData, selectedVariables) {
    // get variable names, as CSV imports make this an Index which cannot be read
    variable_names = [];
    // using the form data, get the names of the variables selected via the python array w/ Jinja2
    {% for var in range(data.variables) %}
      if (selectedVariables.includes({{ var }})) {
        variable_names.push('{{ data.variable_names[var] }}');
      }
    {% endfor %}

    const ctx = document.getElementById('myChart');
    
    if (chartInstance) {
      chartInstance.destroy();
    }

    chartInstance = new Chart(ctx, {
      type: type,
      data: {
        labels: variable_names,
        datasets: selectedData,
      },
      options: {
        scales: {
          y: {
            beginAtZero: false
          }
        },
        // adds interactivity to the chart so that when hovered over, the line becomes thicker
        onHover: (e, activeEls, chart) => {
          if (activeEls.length === 0) {
            chart.data.datasets.forEach((dataset) => {
              dataset.borderWidth = 1; // by default line is 1 thick
              // sets original colour of the line to be refered back to after transparancy is set
              if (dataset.orginalColor == null) { 
                dataset.orginalColor = dataset.borderColor;
              }
              // by default (non-hover), line is opaque so just set to original colour
              dataset.borderColor = dataset.orginalColor;
            });

            chart.update();
            return;
          }

          const hoveredEl = chart.getElementsAtEventForMode(e, 'point', {
            intersect: true
          }, true)[0]

          chart.data.datasets.forEach((dataset, i) => {
            dataset.borderWidth = hoveredEl.datasetIndex === i ? 4 : 1;
            dataset.z = hoveredEl.datasetIndex === i ? 1 : 0; // Set z-index
            // to get transparency for other colours, need to convert to hex then add alpha value of '20'
            var rgb = dataset.orginalColor.match(/\d+/g);
            var hex = '#' + parseInt(rgb[0]).toString(16)+ parseInt(rgb[1]).toString(16)+parseInt(rgb[2]).toString(16) + '20';
            // if the data is being hovered over, keep colour same, else make it transparent
            dataset.borderColor = hoveredEl.datasetIndex === i ? dataset.orginalColor : hex;
          });
          // update the datapoints on the chart
          chart.update();
        },
        // adds interactivity to the legend so that when hovered over, the line becomes thicker
        plugins: {
          legend: {
            onHover: (e, legendItem, legend) => {
              updateChart(legendItem);
            },
            // when the mouse leaves the legend, reset the chart to default
            onLeave: () => {
              chartInstance.data.datasets.forEach((dataset) => {
                dataset.borderWidth = 1; // by default line is 1 thick
                dataset.borderColor = dataset.orginalColor;
              });
              chartInstance.update();
            },
          },
          customCanvasBackgroundColor: {
            color: 'white',
          }
        }
      },
      plugins: [plugin],
    });

    // If type is "radar", position the legend on the left
    if (type === "radar") {
      chartInstance.options.plugins.legend.position = 'left';
      chartInstance.canvas.parentNode.style.height = '600px';
      chartInstance.canvas.parentNode.style.width = '600px';
    }
    else
    {
      chartInstance.canvas.parentNode.style.height = '40vh';
      chartInstance.canvas.parentNode.style.width = '80vw';
    }

    

    // Finally, update the chart instance
    chartInstance.update();
    document.getElementById('showCanvas').classList.remove('hidden');
  }

  // chart.js plugins
  const plugin = {
    id: 'customCanvasBackgroundColor',
    beforeDraw: (chart, args, options) => {
      const {ctx} = chart;
      ctx.save();
      ctx.globalCompositeOperation = 'destination-over';
      ctx.fillStyle = options.color || '#99ffff';
      ctx.fillRect(0, 0, chart.width, chart.height);
      ctx.restore();
    }
  };

  // essentially the same code as the onHover function, but this time it is for the legend as it has different available elements :P
  function updateChart(legendItem) {
    chartInstance.data.datasets.forEach((dataset, i) => {
      if (dataset.orginalColor == null) {
        dataset.orginalColor = dataset.borderColor;
      }
      dataset.borderWidth = legendItem.datasetIndex === i ? 4 : 1;
      dataset.z = legendItem.datasetIndex === i ? 1 : 0; // Set z-index
      var rgb = dataset.orginalColor.match(/\d+/g);
      var hex = '#' + parseInt(rgb[0]).toString(16)+ parseInt(rgb[1]).toString(16)+parseInt(rgb[2]).toString(16) + '20';
      dataset.borderColor = legendItem.datasetIndex === i ? dataset.orginalColor : hex;
    });
    chartInstance.update();
  }

  function saveImage() {
    const canvas = document.getElementById('myChart');
    const image = canvas.toDataURL('image/png', 1.0);
    const link = document.createElement('a');
    link.download = 'chart.png';
    link.href = image;
    link.click();
  }

</script>
