<!-- Modal -->
<div id="graphModal" class="modal hidden fixed inset-0 bg-transparent flex justify-center items-center w-screen">
    <div id="graphModalOverlay" class="modal-overlay bg-gray-500 bg-opacity-75 fixed inset-0 z-40"></div>
    <div class="modal-content bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 z-50">
        <!-- Form -->
        <div class="mb-4 flex items-center justify-between">
            <h5 class="modal-title text-xl font-semibold">Create a graph</h5>
            <button
                class="close-modal flex justify-center rounded border border-gray-300 bg-[--background] hover:bg-red-400"
                id="graphModalCloseBtn"
                aria-label="Close modal"
                title="Close modal"
                onclick="closeModal('graphModal')"
                ><span class="material-icons">close</span>
            </button>
        </div>
        <div class="modal-body">
            <form onsubmit="processData(this)">
                <div class="flex justify-center">
                    <p><strong>Choose type of graph</strong></p>
                </div>
                <div class='w-[60rem] flex justify-center'>
                    <p><strong>Choose up to 25 voters and/or candidates to compare</strong></p>
                    <p id="data_counter" class="ml-2">0/25</p>
                </div>
                <div 
                    id="data_selection"
                    class="flex">
                    <div
                        id="left_column"
                        class="w-1/2 border-y-2 border-l-2 border-r-1 rounded-l-lg"
                    >
                        <p class='mx-3'>Candidates</p>
                        <div class="flex justify-items-start border-y-2">
                            <input 
                                class="m-2" 
                                type="checkbox" 
                                id="select_all_candidate" 
                                name="select_all_candidate" 
                                value="select_all_candidate"
                                onclick="selectAll('candidate')">
                            <label for="select_all_candidate">Select all</label>
                        </div>
                        <div class="max-h-52 overflow-y-scroll">
                            {% for candidate in data.candidates %}
                                <div class="flex justify-items-start">
                                    <input 
                                        class="m-2" 
                                        type="checkbox" 
                                        id="candidate_{{ candidate['id'] }}" 
                                        name="candidate_{{ candidate['id'] }}" 
                                        value="{{ candidate['id'] }}"
                                        onclick="updateDataCounter('candidate_{{ candidate['id'] }}')">
                                    <label for="{{ candidate['id'] }}">{{ candidate['id'] }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div
                        id="right_column"
                        class="w-1/2 border-y-2 border-l-2 border-r-2 rounded-r-lg"
                    >
                        <p class='mx-3'>Voters</p>
                        <div class="flex justify-items-start border-y-2">
                            <input 
                                class="m-2" 
                                type="checkbox" 
                                id="select_all_voter" 
                                name="select_all_voter" 
                                value="select_all_voter"
                                onclick="selectAll('voter')">
                            <label for="select_all_voter">Select all</label>
                        </div>
                        <div class="max-h-52 overflow-y-scroll">
                            <div class="flex justify-items-start border-b-2" id='average_voter_chartks_modal'>
                                <input 
                                    class="m-2" 
                                    type="checkbox" 
                                    id="average_voter" 
                                    name="average_voter"
                                    value="average_voter"
                                    onclick="updateDataCounter('average_voter')">
                                <label for="average_voter" >Average voter</label>
                            </div>
                            {% for voter in data.voters %}
                                <div class="flex justify-items-start">
                                    <input 
                                        class="m-2" 
                                        type="checkbox" 
                                        id="voter_{{ voter['id'] }}" 
                                        name="voter_{{ voter['id'] }}" 
                                        value="{{ voter['id'] }}"
                                        onclick="updateDataCounter('voter_{{ voter['id'] }}')">
                                    <label for="{{ voter['id'] }}">{{ voter['id'] }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class='flex justify-center'>
                    <div class='w-1/2 border-x-2 border-b-2 rounded-b-lg'>
                        <div class="flex justify-center">
                            <p><strong>Choose up to 15 variables to use</strong></p>
                            <p id="variable_counter" class="ml-2">0/15</p>
                        </div>
                        <div>
                            <div class="flex justify-items-start border-y-2">
                                <input 
                                    class="m-2" 
                                    type="checkbox" 
                                    id="select_all_graph_variable" 
                                    name="select_all_graph_variable" 
                                    value="select_all_graph_variable"
                                    onclick="selectAll('graph_variable')">
                                <label for="select_all_graph_variable">Select all</label>
                            </div>
                            <div class="max-h-52 overflow-y-scroll">
                                {% for var in range(data.variables) %}
                                <div class="flex justify-center">
                                    <div class="w-1/2 flex justify-start">
                                        <input 
                                            type="checkbox" 
                                            id="graph_variable_{{ var }}" 
                                            name="variable_{{ var }}" 
                                            value="{{ var }}" 
                                            class="m-2" 
                                            onclick="updateVariableCounter('graph_variable_{{ var }}')">
                                        <label for="variable_{{ var }}">{{ data.variable_names[var] }}</label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='flex justify-center'>
                    <div class='w-1/2'>
                        <div class="flex justify-center items-center my-2">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // process the data of the modal and prepare it for chart creation
    function processData(form) {
        // prevents the default GET request
        event.preventDefault();
        
        // get selected variables
        selectedVariables = getVariables(form);

        // get selected candidate and voter data
        selectedData = getData(form, selectedVariables);

        // for alerts, data is done first as that appears first in the modal
        // make sure at least 1 candidate or voter is selected
        if (selectedData.length < 1){
            alert("Please select at least 1 candidate or voter to view.");
            return;
        }

        // make sure at least 2 variables are selected
        if (selectedVariables.length < 2){
            alert("Please select at least 2 variables to view.");
            return;
        }

        // close the modal
        graphModal.classList.add('hidden');

        // create the chart
        createCharts(selectedData, selectedVariables);
    }

    function getData(form, selectedVariables) {
        selectedData = [];

        // check if average voter is selected. if so, add to dataset
        if (form.elements['average_voter'].checked) {
            selectedData.push(getAverageVoter(selectedVariables));
        } 

        // loop through all the checkboxes and process each candidate and voter selected
        {% for candidate in data.candidates %}
            if (form.elements['candidate_{{ candidate["id"] }}'].checked) {
                // use Jinja2 loop.index to keep track of the iteration for unique variable names
                // have to set as an id as getting variable data creates an inner loop
                // which resets the loop.index
                {% set id = loop.index %} 

                let new_candidate{{ id }} = {}; // Create a new object for each iteration

                new_candidate{{ id }}.label = "{{ candidate['id'] }}";
                new_candidate{{ id }}.fill = false; // removes bg from radar chart
                new_candidate{{ id }}.data = [];
                new_candidate{{ id }}.borderWidth = 1;

                {% for var in range(data.variables) %}
                    if (selectedVariables.includes({{ var }})) {
                        new_candidate{{ id }}.data.push(parseFloat('{{ candidate[var] }}'));
                    }
                {% endfor %}
                
                // since candidates and voters are the SAME format, they can just be collected into a single array
                selectedData.push(new_candidate{{ id }});
            }
        {% endfor %}
        {% for voter in data.voters %}
            if (form.elements['voter_{{ voter["id"] }}'].checked) {
                
                {% set id = loop.index %} 

                let new_voter{{ id }} = {}; // Create a new object for each iteration

                new_voter{{ id }}.label = "{{ voter['id'] }}";
                new_voter{{ id }}.fill = false; // removes bg from radar chart
                new_voter{{ id }}.data = [];
                new_voter{{ id }}.borderWidth = 1;

                {% for var in range(data.variables) %}
                    if (selectedVariables.includes({{ var }})) {
                        new_voter{{ id }}.data.push(parseFloat('{{ voter[var] }}'));
                    }
                {% endfor %}

                selectedData.push(new_voter{{ id }});
            }
        {% endfor %}
        return selectedData;
    }

    function getAverageVoter(selectedVariables) {
        let average_voter = {};
        average_voter.label = "Average Voter";
        average_voter.fill = false; // removes bg from radar chart
        average_voter.data = [];
        average_voter.borderWidth = 1;

        {% for var in range(data.variables) %}
            if (selectedVariables.includes({{ var }})) {
                average_voter.data.push(parseFloat('{{ data.average_voter[var] }}'));
            }
        {% endfor %}

        return average_voter;
    }

    // gets the selected variables from the modal and returns an array of ids
    function getVariables(form) {
        selectedVariables = [];
        {% for var in range(data.variables) %}
            if (form.elements['variable_{{ var }}'].checked) {
                selectedVariables.push({{ var }});
            }
        {% endfor %}

        return selectedVariables;
    }

    // counter to keep track of the number of candidates and voters selected
    var dataCounter = 0;
    // used to make sure that the counter is updated correctly
    function updateDataCounter(id){
        // check if the checkbox is checked or not and update the counter accordingly
        if (document.getElementById(id).checked) {
            dataCounter++;
        } else {
            dataCounter--;
        }
        if (dataCounter > 25) {
            alert("Too many candidates and voters selected. Please select less than 25.");
            document.getElementById(id).checked = false;
            dataCounter--;
        }

        // update the counter
        data_counter = document.getElementById("data_counter");
        data_counter.innerHTML = dataCounter + "/25";
    }

    // counter to keep track of number of variables to use
    var variableCounter = 0;
    // used to make sure that the counter is updated correctly
    function updateVariableCounter(id){
        // check if the checkbox is checked or not and update the counter accordingly
        if (document.getElementById(id).checked) {
            variableCounter++;
        } else {
            variableCounter--;
        }
        if (variableCounter > 15) {
            alert("Too many variables selected. Please select less than 15.");
            document.getElementById(id).checked = false;
            variableCounter--;
        }

        // update the counter
        variable_counter = document.getElementById("variable_counter");
        variable_counter.innerHTML = variableCounter + "/15";
    }

    function selectAll(type) {
        // get all the checkboxes of the type
        checkboxes = document.querySelectorAll(`input[type=checkbox][id^=${type}]`);
        // get the select all checkbox
        select_all = document.getElementById(`select_all_${type}`);
        // check if the select all checkbox is checked or not
        if (select_all.checked && 
            (type === 'candidate' || type === 'voter') && 
            dataCounter + checkboxes.length > 25) {
                alert('Selecting all would exceed the limit of 25. Please select less than 25.')
                select_all.checked = false;
                return;
        }
        // make sure that 15 or less variables are selected
        else if (select_all.checked &&
            type === 'graph_variable' &&
            checkboxes.length > 15) {
                alert('Selecting all would exceed the limit of 15. Please select less than 15.')
                select_all.checked = false;
                return;
        }
        else if (select_all.checked) {
            // loop through all the checkboxes and check them
            checkboxes.forEach((checkbox) => {
                // only check the checkbox if it is unchecked, otherwise the counter updates twice
                if (checkbox.checked === false) {
                    checkbox.checked = true;
                    // update the relevant counter
                    if (type === 'candidate' || type === 'voter') {
                        updateDataCounter(checkbox.id);
                    } else {
                        updateVariableCounter(checkbox.id);
                    }
                }
            });
        } else {
            // loop through all the checkboxes and uncheck them
            checkboxes.forEach((checkbox) => {
                // only deselect the checkbox if it is checked, otherwise the counter updates twice
                if (checkbox.checked === true) {
                    checkbox.checked = false;
                    // update the relevant counter
                    if (type === 'candidate' || type === 'voter') {
                        updateDataCounter(checkbox.id);
                    } else {
                        updateVariableCounter(checkbox.id);
                    }
                }
            });
        }
    }
</script>
