
<div class="bg-white border-t-2 border-x-2 rounded-t-lg px-8 pb-2">
    <div class='flex justify-center'>
        <h2>Variable Settings</h2>
    </div>
    <div class='block md:flex'>
    <!-- change quantity -->
        <form
            action="{{ url_for('set_variables') }}" 
            method="post"
            onsubmit="return confirm('This will delete voter and candidate data, are you sure?');">
            <div class="mb-1 flex justify-center md:justify-normal">
            <input 
                class="shadow appearance-none border rounded-l-lg w-1/5 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                id="variables" 
                type="number"
                step="1" 
                name="variables" 
                value="{{ data.variables }}"
                min="2"
                required>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg focus:outline-none focus:shadow-outline" type="submit">
                Edit Quantity
            </button>
            </div>
        </form>

        <!-- Change names -->
        <!-- Modal Trigger Button -->
        <div class='flex justify-center md:justify-normal'>
            <button 
                id="varNameModalTrigger" 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
                onclick="openModal('varNameModal')">
                Edit Variable names
            </button>
        </div>

        <!-- Modal -->
        <div id="varNameModal" class="modal hidden fixed inset-0 flex justify-center items-center">
            <div id="varNameModalOverlay" class="modal-overlay bg-gray-500 bg-opacity-75 fixed inset-0 z-40"></div>
            <div class="modal-content bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 z-50">
                <div class="max-w-xs h-full max-h-80 px-2 overflow-y-scroll">
                    <div class="mb-4 flex items-center justify-between">
                        <h5 class="modal-title text-xl font-semibold">Edit Variable Names</h5>
                        <button
                            class="close-modal flex justify-center rounded border border-gray-300 bg-[--background] hover:bg-red-400"
                            id="varNameCloseButton"
                            aria-label="Close modal"
                            title="Close modal"
                            onclick="closeModal('varNameModal')"
                            ><span class="material-icons">close</span>
                        </button>
                    </div>
                    <form action="{{ url_for('set_variable_names') }}" method="POST">
                        {% for i in range(data.variables) %}
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="x">
                            variable {{ i + 1 }}
                            </label>
                            <input 
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                id="variable_{{ i }}" 
                                type="text" 
                                value="{{ data.variable_names[i] }}"  
                                name="variable_{{ i }}"
                                maxlength='15'>
                        </div>
                        {% endfor %}
                        <div class="flex justify-center items-center">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            Submit
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>