<div class='bg-white border-2 md:px-3 py-2'>
    <div class='flex justify-center'>
        <h2>Election Settings</h2>
    </div>
    <div class='flex justify-center'>
        <div class="p-2 w-3/5  md:border-x-2 md:border-t-2 flex justify-center space-x-2">
            <label class="block text-gray-700 mb-2" for="distance_measure">Distance Measure:</label>
            <select class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                id="distance_measure" 
                name="distance_measure" 
                onchange="changeElectionSettings()">
                <option value="euclidean" {% if data.distance_measure == 'euclidean' %} selected {% endif %}>Euclidean</option>
                <option value="manhattan" {% if data.distance_measure == 'manhattan' %} selected {% endif %}>Manhattan</option>
                <option value="chebyshev" {% if data.distance_measure == 'chebyshev' %} selected {% endif %}>Chebyshev</option>
            </select>
        </div>
    </div>
    <div class='block md:flex pt-2 md:border-2'>
        <div class="p-2 md:w-1/2 flex space-x-2 justify-center md:justify-normal">
            <label class="block text-gray-700 mb-2" for="voting_style">Voting Style:</label>
            <select class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                id="voting_style" 
                name="voting_style" 
                onchange="changeElectionSettings()">
                <option value="average-voter" {% if data.voting_style == 'average' %} selected {% endif %}>Average Voter</option>
                <option value="ranked-choice" {% if data.voting_style == 'ranked-choice' %} selected {% endif %}>Ranked Choice</option>
                <option value="plurality" {% if data.voting_style == 'plurality' %} selected {% endif %}>Plurality</option>
            </select>
        </div>
        <div class="p-2 md:w-1/2 flex space-x-2 justify-center md:justify-normal">
            <label class="block text-gray-700 mb-2" for="election_type">Election:</label>
            <select class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                id="election_type" 
                name="election_type" 
                onchange="changeElectionSettings()">
                <option value="single-winner" {% if data.election_type == 'single-winner' %} selected {% endif %}>Single-Winner</option>
                <option value="multi-winner" {% if data.election_type == 'multi-winner' %} selected {% endif %}>Multi-Winner</option>
                <option value="participatory-budget" {% if data.election_type == 'participatory-budget' %} selected {% endif %}>Participatory Budget</option>
            </select>
        </div>
    </div>
    <div class='block md:flex p-2 md:border-x-2 md:border-b-2'>
        <div class="p-2 md:w-1/2 flex space-x-2 justify-center md:justify-normal">
            <label class="block text-gray-700" for="k_value">K-Value:</label>
            <input 
                class="shadow appearance-none border rounded w-3/5 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="k_value" 
                type="number" 
                step = "1"
                min = "1"
                max = "10"
                value = "{{data.k}}"
                name="k_value"
                onchange="changeElectionSettings()"
                required>
            <p 
                data-tooltip-target="k-value-tooltip" 
                class="">
                <!--material ui question mark span-->
                <span class="material-icons text-zinc-500 scale-75">help</span>
            </p>
            <div id="k-value-tooltip" role="tooltip" class="text-center absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Used for multi-winner elections. <br>The number of winners to be elected.
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
        <div class="p-2 md:w-1/2 flex space-x-2 justify-center md:justify-normal">
            <label class="block text-gray-700" for="budget">Budget:</label>
            <input 
                class="shadow appearance-none border rounded w-3/5 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="budget" 
                type="number" 
                step = "1"
                min = "1"
                value = "{{data.budget}}"
                name="budget"
                onchange="changeElectionSettings()"
                required>
            <p 
                data-tooltip-target="budget-tooltip" 
                class="">
                <!--material ui question mark span-->
                <span class="material-icons text-zinc-500 scale-75">help</span>
            </p>
            <div id="budget-tooltip" role="tooltip" class="text-center absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Used for participatory budget elections. <br>The total budget to be allocated.
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
    </div>
</div>

<script>
    function changeElectionSettings(){
        // get all the election settings values from the form
        let distance_measure = document.getElementById('distance_measure').value;
        let voting_style = document.getElementById('voting_style').value;
        let election_type = document.getElementById('election_type').value;
        let k = document.getElementById('k_value').value;
        let budget = document.getElementById('budget').value;

        // Validation for the k-value and budget
        if (k < 1) {
            k = 1
            document.getElementById('k_value').value = 1
            alert('K-Value must be at least 1')
        }
        if (k > 10) {
            k = 10
            document.getElementById('k_value').value = 10
            alert('K-Value must be at most 10')
        }
        if (k % 1 != 0) {
            k = Math.round(k)
            document.getElementById('k_value').value = k
            alert('K must be an integer')
        }
        if (budget < 1) {
            budget = 1
            document.getElementById('budget').value = 1
            alert('Budget must be at least 1')
        }
        if (budget % 1 != 0) {
            budget = Math.round(budget)
            document.getElementById('budget').value = budget
            alert('Budget must be an integer')
        }

        // add the election settings to the form data to be sent to the backend
        formData = new FormData();
        formData.append("distance_measure", distance_measure)
        formData.append("voting_style", voting_style);
        formData.append("election_type", election_type);
        formData.append("k", k);
        formData.append("budget", budget);

        // send the form data to the backend
        fetch('/changeElectionSettings', {
            method: 'POST',
            body: formData
        })

        {% if type == 'home' %}
            showElectionSettings = document.getElementById('showElectionSettings');
            console.log(showElectionSettings)
            let settingsText = 
                `Candidates: {{ data.candidates | length }} <br>
                Voters: {{ data.voters | length }} <br>
                Distance Measure: ${distance_measure} <br>
                Election Type: ${election_type} <br>
                Voting Style: ${voting_style} <br>`
            if (election_type == 'multi-winner') {
                settingsText += `K-Value: ${k} <br>`
            } else if (election_type == 'participatory-budget') {
                settingsText += `Budget: ${budget} <br>`
            }

            showElectionSettings.innerHTML = settingsText
        // for results, we want to refresh the page to reset the distances
        {% elif type == 'results' %}
            if (distance_measure != '{{data.distance_measure}}') {
                // timeout for 0.01 seconds to allow the server to update the election settings
                setTimeout(function(){
                    location.reload();
                }, 10);
                // then reload the page
                location.reload();
            }
        {% endif %}

    }
</script>