<div class="px-2 py-2 w-1/2 max-h-1/3 overflow-y-scroll border-2 md:border-0" id="view_{{type}}s">
    <table class="table-auto">
        <div class="block space-y-2">
            <div class='flex space-x-4 items-center font-bold'>
                <div class='text-lg'>{{type.title() + 's'}}</div>
                <!-- INPUT data -->
                {% with type = type %}
                    {% include 'partials/add_data.html' %}
                {% endwith %}
            </div>
            {% if dataset |length > 10 %}
                <p>Too many {{type}}s to display. 
                    <a href="{{ type }}s">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded focus:outline-none focus:shadow-outline min-h-7 min-w-7 p-2" >
                            View All
                        </button>
                    </a>
                </p>
            {% endif %}
            
        </div>
        {% if not dataset %}
            <p>{{'No ' + type + 's'}}</p>
        {% endif %}
        <tbody>
        <!-- reverse dataset so you see most recent additions first -->
        {% set dataset = dataset|reverse|list %}
        {% for datapoint in  dataset[:10]%}
        <tr id="row_{{ datapoint["id"] }}">
            <td>
                <form action="{{url_for('delete_' + type)}}" method="post">
                    <input type="hidden" name="location" value="index"/>
                    <input type="hidden" name="id" value="{{ datapoint["id"] }}"/>
                    {% if datapoint['cost'] %}
                        <input type="hidden" name="cost" value="{{ datapoint['cost'] }}"/>
                    {% endif %}
                    {% for i in range(data.variables) %}
                    <input type="hidden" name="variable_{{ i }}" value="{{ datapoint[i] }}"/>
                    {% endfor %}
                    <button 
                        class="bg-red-500 hover:bg-red-700 text-black font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                        type="submit"
                        >
                        <span class="material-icons">delete</span>
                    </button>
                </form>
            </td>
            <td class='px-1'>{{ datapoint['id'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    