{% extends 'base.html' %}

{% block head %}
    <title>Flask demo</title>
{% endblock %}

{% block body %}
<div class="w-full flex justify-center ">
  <div class="max-w-s px-2">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2" action="{{ url_for('index') }}" method="POST">
      <h2>Change num of variables (will delete data)</h2>
      <input type="hidden" name="form_type" value="set_variables"/>
      <div class="mb-1 flex">
        <input class="shadow appearance-none border rounded w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="variables" type="text" name="variables" value="{{ variables }}">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-1/4" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
  <!--Create dropdown with options for the distance measure -->
  <div class="max-w-s px-2">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2" action="{{ url_for('index') }}" method="POST">
      <h2>Change distance measure</h2>
      <input type="hidden" name="form_type" value="set_distance_measure"/>
      <div class="mb-1 flex">
        <select class="shadow appearance-none border rounded w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="distance_measure" name="distance_measure" onchange="this.form.submit()">
          <option value="euclidean" {% if distance_measure == 'euclidean' %} selected {% endif %}>Euclidean</option>
          <option value="manhattan" {% if distance_measure == 'manhattan' %} selected {% endif %}>Manhattan</option>
          <option value="chebyshev" {% if distance_measure == 'chebyshev' %} selected {% endif %}>TODO: Chebyshev</option>
        </select>
      </div>
    </form>
  </div>
</div>

<!-- row 2: candidate & voter management-->
<div class="w-full flex justify-center space-x-4">
  <!-- INPUT candidate -->
  <div class="max-w-xs h-full max-h-80 px-2 overflow-y-scroll">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ url_for('index') }}" method="POST">
      <h2>Input candidate</h2>
      <input type="hidden" name="form_type" value="add_candidate"/>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="id">
        id/name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id" type="text" placeholder="id"  name="id">
      {% for i in range(variables) %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="x">
            variable {{ i }}
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="variable_{{ i }}" type="text" placeholder="variable {{ i }}"  name="variable_{{ i }}">
        </div>
      {% endfor %}
      <div class="flex justify-center items-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
  <!-- INPUT voter -->
  <div class="max-w-xs h-full max-h-80 px-2 overflow-y-scroll">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ url_for('index') }}" method="POST">
      <h2>Input voter</h2>
      <input type="hidden" name="form_type" value="add_voter"/>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="id">
        id/name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id" type="text" placeholder="id"  name="id">
      {% for i in range(variables) %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="x">
            variable {{ i }}
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="variable_{{ i }}" type="text" placeholder="variable {{ i }}"  name="variable_{{ i }}">
        </div>
      {% endfor %}
      <div class="flex justify-center items-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
  <!-- VIEW candidates -->
  <div class="space-x-4 px-2">
    <table class="table-auto">
      <h1>Candidates</h1>
      {% if not candidates %}
        <p>No candidates</p>
      {% endif %}
      <tbody>
        {% for candidate in candidates %}
        <tr>
          <td>{{ candidate['id'] }}: (
            {% for i in range(variables) %}
              {{ candidate[i] }}{% if not loop.last %}, {% endif %}
            {% endfor %})
          </td>
          <td>
            <form action="{{ url_for('index') }}" method="POST">
              <input type="hidden" name="form_type" value="delete_candidate"/>
              <input type="hidden" name="id" value="{{ candidate["id"] }}"/>
              {% for i in range(variables) %}
                <input type="hidden" name="variable_{{ i }}" value="{{ candidate[i] }}"/>
              {% endfor %}
              <button class="bg-red-500 hover:bg-red-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- VIEW voters -->
  <div class="space-x-4 px-2">
    <table class="table-auto">
      <h1>Voters</h1>
      {% if not voters %}
        <p>No voters</p>
      {% endif %}
      <tbody>
        {% for voter in voters %}
        <tr>
          <td>{{ voter['id'] }}: (
            {% for i in range(variables) %}
              {{ voter[i] }}{% if not loop.last %}, {% endif %}
            {% endfor %})
          </td>
          <td>
            <form action="{{ url_for('index') }}" method="POST">
              <input type="hidden" name="form_type" value="delete_voter"/>
              <input type="hidden" name="id" value="{{ voter["id"] }}"/>
              {% for i in range(variables) %}
                <input type="hidden" name="variable_{{ i }}" value="{{ voter[i] }}"/>
              {% endfor %}
              <button class="bg-red-500 hover:bg-red-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- CALCULATE distances -->
  <div class="max-w-xs h-full max-h-80 px-2">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ url_for('index') }}" method="POST">
      <h2>Calculate distances</h2>
      <input type="hidden" name="form_type" value="calculate_distances"/>
      <div class="flex justify-center items-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<!-- row 3: results -->
<div>
  <strong>Results</strong>
  {% if not results %}
    <p>No results</p>
  {% endif %}
  <table class="table-auto">
    <tbody>
      {% for voter in voters %}
      <tr>
        <td>{{ voter['id'] }}</td>
        <td>Winner: {{ voter['winner'] }}</td>
        {% for distance in voter['distances'] %}
          <td>{{ distance }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}