{% extends 'base.html' %}

{% block head %}
    <title>Flask demo</title>
{% endblock %}

{% block body %}



{% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

<!-- row 2: candidate & voter management-->
<!-- variable settings -->
<div>
  <div class="w-full h-1/3 flex border">
    <!-- VIEW candidates -->
    {% with type = 'candidate', dataset = data.candidates %}
      {% include 'partials/view_data.html' %}
    {% endwith %}
    <!-- VIEW voters -->
    {% with type = 'voter', dataset = data.voters %}
      {% include 'partials/view_data.html' %}
    {% endwith %}
  </div>
  <div class="px-2 py-2 overflow-x-scroll">
    <div class='flex space-x-4 pb-2'>
      <strong>Results</strong>
      <!-- CALCULATE distances -->
        <form action="{{ url_for('calculate_distances') }}" method="post">
          <div class="flex justify-center items-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded focus:outline-none focus:shadow-outline min-h-7 min-w-7 px-2" onclick="checkResultsValidation()" type="submit">
              Calculate
            </button>
          </div>
        </form>
    </div>
    {% if not data.results or not data.candidates or not data.voters or not data.voters[0]['distances'] %}
      <p>No results</p>
    {% else %}
    {% if data.voters[0]['distances'] |length > 10 %}
        <p>Too many alternatives to display. Click on a voters name to see full results</p>
    {% endif %}
    <table class="table-auto">
      <tbody>
        <th class="border">voter</th>
        <th class="border">winner</th>
        <th class="border">full results</th>
        <!-- show average voter -->
        <tr>
          <td class="border">Average voter</td>
          {% for distance in data.average_voter['distances'][:10] %}
            <td class="border">{{ distance[0][:20] }}: {{ distance[1]|round(4) }} </td>
          {% endfor %}
        </tr>
        {% for voter in data.voters %}
        <tr>
          <td class="border">{{ voter['id'] }}</td>
          {% for distance in voter['distances'][:10] %}
            <td class="border">{{ distance[0][:20] }}: {{ distance[1]|round(4) }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

<!-- row3 visualisations -->
<div class=''>
  <div class="w-full flex justify-center">
    <h1>visualisations</h1>
  </div>
  <div class="w-full flex justify-center">
    {% include 'partials/chartjs.html' %}
  </div>
</div>

<script>
  function checkResultsValidation() {
    if ({{ data.voters | length }} < 1 || {{ data.candidates | length }} < 2) {
      alert('Need at least 1 voter and 2 candidates to calculate results');
      return false;
    }
  }
</script>

{% endblock %}