{% extends 'base.html' %}

{% block head %}
    <title>Flask demo</title>
{% endblock %}

{% block body %}
<div class='block md:flex'>
    <div id='containerContainer' class='flex justify-center w-full'>
        <div id="container" class='overflow-x-hidden w-4/5 md:w-full flex justify-center md:block md:justify-normal border-2'></div>
    </div>
    <div class='w-full md:w-1/5'>
        <div class='flex justify-center'>
            <button 
                id="2dButton" 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                <a href='/visualisations'>View 2D Visualisations</a>
            </button>
        </div>
        <div class='font-bold text-2xl flex justify-center'>
            <h1>Settings</h1>
        </div>
        <!--here have a dropdown for the different axis settings-->
        <div class='flex justify-center'>
            <button 
                id="threeModalTrigger" 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                onclick="openModal('threeModal')">
                Edit 3D Graph
            </button>
        </div>
        <div class='font-bold text-2xl flex justify-center'>
            <h1>Key</h1>
        </div>
        <div class='flex justify-center'>
            <div class='flex flex-col'>
                {% for i in range(candidates|length) %}
                    <div class='flex items-center space-x-2'  data-tooltip-target="tooltip-{{i}}">
                        <div class='w-4 h-4' style='background-color: {{colours[i]}}'></div>
                        <p>{{candidates[i]['id']}}</p>
                    </div>
                    <div id="tooltip-{{i}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        ∆{{data.variable_names[chosen_variables[0]]}}: {{'%0.2f'| format(candidates[i][chosen_variables[0]]|float - data.average_voter[chosen_variables[0]]|float)}}<br>
                        ∆{{data.variable_names[chosen_variables[1]]}}: {{'%0.2f'| format(candidates[i][chosen_variables[1]]|float - data.average_voter[chosen_variables[1]]|float)}}<br>
                        ∆{{data.variable_names[chosen_variables[2]]}}: {{'%0.2f'| format(candidates[i][chosen_variables[2]]|float - data.average_voter[chosen_variables[2]]|float)}}
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class='text-md text-center mt-4'>
            <p>Hover over a candidate's name to view the difference between itself and the average voter for each variable</p>
        </div>
    </div>
</div>

<!-- options modal -->
<div id="threeModal" class="modal hidden fixed inset-0 bg-transparent flex justify-center items-center w-screen">
    <div id="threeModalOverlay" class="modal-overlay bg-gray-500 bg-opacity-75 fixed inset-0 z-40"></div>
    <div class="modal-content bg-white shadow-md rounded pt-6 pb-8 mb-4 z-50 max-w-[95%] md:w-[70%]">
        <!-- Form -->
        <div class="mb-4 flex items-center justify-between px-8">
            <h5 class="modal-title text-xl font-semibold">Edit Three.js 3D Visualisation</h5>
            <button
                class="close-modal flex justify-center rounded border border-gray-300 bg-[--background] hover:bg-red-400"
                id="threeModalCloseBtn"
                aria-label="Close modal"
                title="Close modal"
                onclick="closeModal('threeModal')"
                ><span class="material-icons">close</span>
            </button>
        </div>
        <form action="/threejs" method="POST" id='threeForm'>
            <div class='modal-body block md:flex px-8 max-h-[80%] space-y-4 md:space-y-0"'>
                <div id='left_column' class='w-full md:w-1/2'>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="zAxis">Distance Measure:</label>
                        <select name="distance_measure" id="distance_measure" class="w-full p-2 border border-gray-300 rounded">
                            <option value="euclidean" {% if line_type == 'euclidean' %} selected {% endif %}>Euclidean</option>
                            <option value="manhattan" {% if line_type == 'manhattan' %} selected {% endif %}>Manhattan</option>
                            <!--<option value="chebyshev" {% if line_type == 'chebyshev' %} selected {% endif %}>Chebyshev</option>-->
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="xAxis">X-Axis:</label>
                        <select name="xAxis" id="xAxis" class="w-full p-2 border border-gray-300 rounded">
                            {% for i in range(data.variables) %}
                                <option value="{{ i }}" {% if chosen_variables[0] == i %} selected {% endif %}>{{ data.variable_names[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="yAxis">Y-Axis:</label>
                        <select name="yAxis" id="yAxis" class="w-full p-2 border border-gray-300 rounded">
                            {% for i in range(data.variables) %}
                                <option value="{{ i }}" {% if chosen_variables[1] == i %} selected {% endif %}>{{ data.variable_names[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="zAxis">Z-Axis:</label>
                        <select name="zAxis" id="zAxis" class="w-full p-2 border border-gray-300 rounded">
                            {% for i in range(data.variables) %}
                                <option value="{{ i }}" {% if chosen_variables[2] == i %} selected {% endif %}>{{ data.variable_names[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id='right_column' class='w-full md:w-1/2 px-4'>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2 flex" for="candidates"><p>Candidates:</p><p id="candidate_counter" class="ml-2">0/20</p></label>
                        <div class="max-h-72 overflow-y-scroll overscroll-x-contain">
                            {% for candidate in data.candidates %}
                                {% set i = loop.index0 %}
                                <div class="flex justify-items-start">
                                    <input 
                                        class="m-2" 
                                        type="checkbox" 
                                        id="candidate_{{ i }}" 
                                        name="{{ i }}" 
                                        value="chosen"
                                        onclick="checkLengthOfCandidates('candidate_{{ i }}')"
                                        {% for chosen_candidate in candidates %}
                                            {% if chosen_candidate['id'] == candidate['id'] %}
                                                checked
                                            {% endif %}
                                        {% endfor %}
                                        >
                                    <label for="{{ candidate['id'] }}">{{ candidate['id'] }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-4 space-x-4">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    onclick='checkThreeJSForm()'
                    type='button'
                    >Submit
                </button>
                <button
                    class="md:hidden bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    aria-label="Close modal"
                    title="Close modal"
                    onclick="closeModal('threeModal')"
                    type="button"
                    >Close
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    //form validation
    // checking that when the modal is submitted, at least 1 candidate is selected
    function checkThreeJSForm() {
        const form = document.getElementById('threeForm');
        console.log('checking form');
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let checked = 0;
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checked++;
            }
        }
        if (checked == 0) {
            alert('Please select at least one candidate');
            return false;
        }
        form.submit();
    }

    // initially, set the candidate counter to how many are already selected
    var candidateCounter = 0;
    let checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
            candidateCounter++;
        }
    }
    // update the counter
    candidate_counter = document.getElementById("candidate_counter");
    candidate_counter.innerHTML = candidateCounter + "/20";

    // make sure that less than 20 candidates are selected
    function checkLengthOfCandidates(id)
    {
        // check if the checkbox is checked or not and update the counter accordingly
        if (document.getElementById(id).checked) {
            candidateCounter++;
        } else {
            candidateCounter--;
        }
        if (candidateCounter > 20) {
            alert("Too many candidates and voters selected. Please select less than 20.");
            document.getElementById(id).checked = false;
            candidateCounter--;
        }

        // update the counter
        candidate_counter = document.getElementById("candidate_counter");
        candidate_counter.innerHTML = candidateCounter + "/20";
    }
</script>
<script src="https://unpkg.com/three@0.137.0/build/three.min.js"></script>
<script src="https://unpkg.com/three@0.137.0/examples/js/lines/LineSegmentsGeometry.js"></script>
<script src="https://unpkg.com/three@0.137.0/examples/js/lines/LineMaterial.js"></script>
<script src="https://unpkg.com/three@0.137.0/examples/js/lines/LineSegments2.js"></script>
<script type="module">
    import { FontLoader } from '/static/js/FontLoader.mjs';
    import { TextGeometry } from '/static/js/TextGeometry.mjs';
    import { OrbitControls } from '/static/js/OrbitControls.mjs';

    // get average voter
    let average_voter = {
        "id": 'average_voter',
        'x': {{data.average_voter[chosen_variables[0]]}},
        'y': {{data.average_voter[chosen_variables[1]]}},
        'z': {{data.average_voter[chosen_variables[2]]}},
    }
    
    // get 10 candidates
    let candidates = []
    let candidate = {}
    {% for candidate in candidates %} // candidates is passed from the backend
        candidate = {
            "id": '{{candidate.id}}',
            'x': {{candidate[chosen_variables[0]]}},
            'y': {{candidate[chosen_variables[1]]}},
            'z': {{candidate[chosen_variables[2]]}},
        }
        candidates.push(candidate)
    {% endfor %}

    const renderer = new THREE.WebGLRenderer( {antialias: true} );
    renderer.setSize( window.innerWidth * 4 / 5, window.innerHeight );
    renderer.setPixelRatio( window.devicePixelRatio );
    renderer.outputEncoding = THREE.sRGBEncoding;
    //append the renderer to the container
    document.getElementById('container').appendChild( renderer.domElement );
    

    const camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 500 );
    camera.position.set( 0, 0, 100 );
    camera.lookAt( 0, 0, 0 );

    const scene = new THREE.Scene();
    scene.background = new THREE.Color( 0xffffff );
    
    // orbit controls to allow for panning
    const controls = new OrbitControls( camera, renderer.domElement );
    controls.listenToKeyEvents( window ); // optional
    controls.screenSpacePanning = false;

    controls.maxPolarAngle = (Math.PI / 2) + 0.1;

    // Raycasting to allow for hover over meshes
    const raycaster = new THREE.Raycaster();
    const pointer = new THREE.Vector2();

    function onPointerMove( event ) {

        // calculate pointer position in normalized device coordinates
        // (-1 to +1) for both components
    
        pointer.x = ( event.clientX / window.innerWidth ) * 2 - 1;
        pointer.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
    
    }

    window.addEventListener( 'pointermove', onPointerMove );

    // for every candidate, the material colour is randomly generated
    // could set to manual generation to evade overlap?
    const materials = [] 
    {% for i in range(20) %}
        // make color random
        materials.push(new THREE.LineBasicMaterial( { color: '{{colours[i]}}' } ));
    {% endfor %}

    const materials2 = []
    {% for i in range(20) %}
        // make color random
        materials2.push(
            new THREE.LineMaterial({
                color: '{{colours[i]}}',
                linewidth: 5, // this is the width in pixels
                resolution: new THREE.Vector2(window.innerWidth, window.innerHeight)
              })
        );
    {% endfor %}

    // this function creates a threeJS point given three coordinates
    function createNewPoint(x, y, z) {
        return ( new THREE.Vector3( x, y, z ) );
    }

    // the maximum values for each axis are found to determine the size of the axis
    let max_x = 0
    let max_y = 0
    let max_z = 0

    // for every candidate, generate a line between itself and the average voter
    // this centers the average voter at the origin
    for (let i = 0; i < candidates.length; i++) {
        {% if line_type == 'euclidean' %}
            let point1 = createNewPoint(candidates[i]['x'] - average_voter['x'],
                        candidates[i]['y'] - average_voter['y'],
                        candidates[i]['z'] - average_voter['z'])

            if (Math.abs(point1.x) > max_x) {
                max_x = Math.abs(point1.x)
            }
            if (Math.abs(point1.y) > max_y) {
                max_y = Math.abs(point1.y)
            }
            if (Math.abs(point1.z) > max_z) {
                max_z = Math.abs(point1.z)
            }

            // the point of the average voter is always at the origin
            let point2 = createNewPoint(0,0,0)
            //sets the line geometry to generate the line with
            let geometry = new THREE.BufferGeometry().setFromPoints( [point1, point2] );
        {% elif line_type == 'manhattan' %}
            let point1 = createNewPoint(0,0,0)
            let point2 = createNewPoint(candidates[i]['x'] - average_voter['x'], 
                        0, 
                        0)
            let point3 = createNewPoint(candidates[i]['x'] - average_voter['x'], 
                        candidates[i]['y'] - average_voter['y'], 
                        0)
            let point4 = createNewPoint(candidates[i]['x'] - average_voter['x'],
                        candidates[i]['y'] - average_voter['y'],
                        candidates[i]['z'] - average_voter['z'])

            if (Math.abs(point4.x) > max_x) {
                max_x = Math.abs(point4.x)
            }
            if (Math.abs(point4.y) > max_y) {
                max_y = Math.abs(point4.y)
            }
            if (Math.abs(point4.z) > max_z) {
                max_z = Math.abs(point4.z)
            }

            let geometry = new THREE.BufferGeometry().setFromPoints( [point1, point2, point2, point3, point3, point4] );
        /* technically works but is pointless as the lines overlap and glitch out
        {% elif line_type == 'chebyshev' %}
            let point1 = createNewPoint(0,0,0)
            let point2;
            // find the greatest difference between average voter and candidate
            let x_diff = Math.abs(candidates[i]['x'] - average_voter['x'])
            let y_diff = Math.abs(candidates[i]['y'] - average_voter['y'])
            let z_diff = Math.abs(candidates[i]['z'] - average_voter['z'])

            if (x_diff > y_diff && x_diff > z_diff){
                point2 = createNewPoint(candidates[i]['x'] - average_voter['x'], 0, 0)
                if (Math.abs(point2.x) > max_x) {
                    max_x = Math.abs(point2.x)
                }
            }
            else if (y_diff > x_diff && y_diff > z_diff){
                point2 = createNewPoint(0, candidates[i]['y'] - average_voter['y'], 0)
                if (Math.abs(point2.y) > max_y) {
                    max_y = Math.abs(point2.y)
                }
            }
            else {
                point2 = createNewPoint(0, 0, candidates[i]['z'] - average_voter['z'])
                if (Math.abs(point2.z) > max_z) {
                    max_z = Math.abs(point2.z)
                }
            }

            let geometry = new THREE.BufferGeometry().setFromPoints( [point1, point2] );
        */
        {% endif %}
        // creates the line with the randomly generated line colour defined earlier
        let lineGeometry = new THREE.LineSegmentsGeometry();
        lineGeometry.setPositions(geometry.getAttribute('position').array);
        console.log(materials2[i])
        let line = new THREE.LineSegments2( lineGeometry, materials2[i] );
        scene.add( line );
    }

    // find the largest axis to determine how frequent the axis line dashes should be
    let largest_axis = Math.max(max_x, max_y, max_z)

    // axis material is black and dashed
    const axisMaterial = new THREE.LineDashedMaterial( {
        color: 0x000000,
        linewidth: 1,
        scale: 1,
        // dashSize is the length of the dash, gapSize is the length of the gap
        dashSize: largest_axis / 20,
        gapSize: largest_axis / 20,
    } );

    // create xyz axis
    // computeLineDistances has to be run to make the line dashed
    let x_axis = createNewPoint(max_x,0,0)
    let x_axis_end = createNewPoint(-max_x,0,0)
    let x_geometry = new THREE.BufferGeometry().setFromPoints( [x_axis, x_axis_end] );
    let x_line = new THREE.Line( x_geometry, axisMaterial );
    x_line.computeLineDistances();
    scene.add( x_line );

    let y_axis = createNewPoint(0,max_y,0)
    let y_axis_end = createNewPoint(0,-max_y,0)
    let y_geometry = new THREE.BufferGeometry().setFromPoints( [y_axis, y_axis_end] );
    let y_line = new THREE.Line( y_geometry, axisMaterial );
    y_line.computeLineDistances();
    scene.add( y_line );

    let z_axis = createNewPoint(0,0,max_z)
    let z_axis_end = createNewPoint(0,0,-max_z)
    let z_geometry = new THREE.BufferGeometry().setFromPoints( [z_axis, z_axis_end] );
    let z_line = new THREE.Line( z_geometry, axisMaterial );
    z_line.computeLineDistances();
    scene.add( z_line );
    // add text that says 'z-axis' at the end of the z_line and the other lines 
    // face camera w/ https://stackoverflow.com/questions/12919638/textgeometry-to-always-face-user

    // font loading
    // would have used a function to load the font but the three.js mesh object has to be created in the loader
    // font to json: https://gero3.github.io/facetype.js/
    const loader = new FontLoader();
    
    let xText = '{{data.variable_names[chosen_variables[0]]}}';
    let xTextMesh; // text object
    loader.load('/static/fonts/Roboto_Regular.json', function (font) {
        const tGeometry = new TextGeometry(xText, {
            font: font,
            size: 0.1,          // actually the height of the font, in user-space
            depth: 0.3,         // THICKNESS of the extruded font, in user-space
            curveSegments: 12,
            bevelEnabled: false,
        });
        tGeometry.center();

        xTextMesh = new THREE.Mesh(tGeometry, [
            new THREE.MeshPhongMaterial({ emissive: 0xff0000, emissiveIntensity: 1}),
            new THREE.MeshPhongMaterial({ color: 0xff0000 }),
        ]);
        
        scene.add(xTextMesh);
        xTextMesh.position.set(max_x, 0, 0);
    });

    let yText = '{{data.variable_names[chosen_variables[1]]}}';
    let yTextMesh; // text object
    loader.load('/static/fonts/Roboto_Regular.json', function (font) {
        const tGeometry = new TextGeometry(yText, {
            font: font,
            size: 0.1,          // actually the height of the font, in user-space
            depth: 0.3,         // THICKNESS of the extruded font, in user-space
            curveSegments: 12,
            bevelEnabled: false,
        });
        tGeometry.center();

        yTextMesh = new THREE.Mesh(tGeometry, [
            new THREE.MeshPhongMaterial({ emissive: 0xff0000, emissiveIntensity: 1}),
            new THREE.MeshPhongMaterial({ color: 0xff0000 }),
        ]);
        
        scene.add(yTextMesh);
        yTextMesh.position.set(0, max_y - 0.5, 0);
    });

    let zText = '{{data.variable_names[chosen_variables[2]]}}';
    let zTextMesh; // text object
    loader.load('/static/fonts/Roboto_Regular.json', function (font) {
        const tGeometry = new TextGeometry(zText, {
            font: font,
            size: 0.1,          // actually the height of the font, in user-space
            depth: 0.3,         // THICKNESS of the extruded font, in user-space
            curveSegments: 12,
            bevelEnabled: false,
        });
        tGeometry.center();

        zTextMesh = new THREE.Mesh(tGeometry, [
            new THREE.MeshPhongMaterial({ emissive: 0xff0000, emissiveIntensity: 1}),
            new THREE.MeshPhongMaterial({ color: 0xff0000 }),
        ]);
        
        scene.add(zTextMesh);
        zTextMesh.position.set(0, 0, max_z);
    });


    // need to test more positions for the camera to be in
    camera.position.z = largest_axis * 2.5;

    // animate is ran every frame to update the scene (in this case the rotation)
    function animate() {
        requestAnimationFrame( animate );

        // rotate the scene itself rather than the camera along the y-axis
        controls.update();
        xTextMesh.lookAt(camera.position);
        yTextMesh.lookAt(camera.position);
        zTextMesh.lookAt(camera.position);

        renderer.render( scene, camera );
    }

    animate();

    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize( window.innerWidth, window.innerHeight );
    }

    window.addEventListener( 'resize', onWindowResize );
</script>

{% endblock %}
