{% extends 'base.html' %}

{% block head %}
    <title>All {{ type }}s</title>
{% endblock %}

{% block body %}
<table class="table-auto">
    <h1>All {{ type }}s</h1>
    <form class="flex">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="flex">
            <input type="search" id="default-search" class="block w-full max-w-[300px] p-2 ps-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search for {{type}}" name='name' required />
            <button type="submit" class=" bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <span class="material-icons text-white text-ce">search</span>
            </button>
        </div>
    </form>
    {% if not dataset %}
        <p>No {{type}}s found</p>
    {% else %}
    <tbody>
        <th class="border"></th>
        <th class="border">Name</th>
        {% for variable_name in data.variable_names %}
            <th class="border px-1">{{ variable_name }}</th>
        {% endfor %}
        
        {% for datapoint in dataset %}
            <tr id="row_{{ datapoint["id"] }}">
            
                <td class="border">
                    <form action="{{url_for('delete_' + type)}}" method="post">
                        <input type="hidden" name="location" value="view_all"/>
                        <input type="hidden" name="id" value="{{ datapoint["id"] }}"/>
                        {% for i in range(variables) %}
                            <input type="hidden" name="variable_{{ i }}" value="{{ datapoint[i] }}"/>
                        {% endfor %}
                        <button 
                            class="bg-red-500 hover:bg-red-700 text-black font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                            type="submit"
                            >
                            <span class="material-icons">delete</span>
                        </button>
                    </form>
                </td>
                <td class="border">{{ datapoint['id'] }}
                {% for i in range(variables) %}
                    <td class="border">{{ datapoint[i] }}</td>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endblock %}