{% extends 'base.html' %}

{% block head %}
    <title>All {{ type }}s</title>
{% endblock %}

{% block body %}
<table class="table-auto">
    <h1>All {{ type }}s <strong>insert search bar here</strong></h1>
    {% if not dataset %}
        <p>{{'No ' + type + 's'}}</p>
    {% endif %}
    <tbody>
        {% for datapoint in dataset %}
            <tr id="row_{{ datapoint["id"] }}">
                <td>
                    <form action="{{ url_for('index') }}" method="POST">
                        <input type="hidden" name="form_type" value="{{'delete_' + type}}"/>
                        <input type="hidden" name="id" value="{{ datapoint["id"] }}"/>
                        {% for i in range(variables) %}
                            <input type="hidden" name="variable_{{ i }}" value="{{ datapoint[i] }}"/>
                        {% endfor %}
                        <button 
                            class="bg-red-500 hover:bg-red-700 text-black font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline" 
                            type="submit"
                            >
                            <span class="material-icons">delete</span>
                        </button>
                    </form>
                </td>
                <td>{{ datapoint['id'] }}: (
                {% for i in range(variables) %}
                    {{ datapoint[i] }}{% if not loop.last %}, {% endif %}
                {% endfor %})
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}